html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  box-sizing: inherit;
}

body {
  line-height: 150%;
}

p {
  margin: 1rem 0 1em 0;
}

ol,
ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Jost", sans-serif;
  color: #141c3a;
  height: 20000px;
}

a:hover:not([class*="btn"]) {
  text-decoration: underline;
  transform-origin: left;
}

.btn {
  background-color: transparent;
  padding: 0.8rem;
  font-size: 1.2rem;
  border-radius: 13px;
  transition: 0.3s;
  cursor: pointer;
}

.btn-primary {
  border: 2px solid #7c3aed;
  color: #7c3aed;
}

.btn-primary:hover {
  background-color: #7c3aed;
  color: white;
}

.btn-secondary {
  border: 2px solid transparent;
  background-color: #7c3aed;
  color: white;
}

.btn-secondary:hover {
  background-color: transparent;
  color: #7c3aed;
  border: 2px solid #7c3aed;
}

.section {
  padding: 3rem 1rem;
  font-size: 1.2rem;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
}

.top-margin {
  margin-top: 4rem;
}

.skill {
  position: relative;
  padding: 1rem 0;
  margin: 0.6rem 0;
  border: 2px solid #7c3aed;
  transition: 0.3s;
  z-index: 1;
  overflow: hidden;
}

.skill::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 0%;
  height: 101%;
  background-color: #7c3aed;
  transition: width 0.3s;
  z-index: -99;
}

.skill:hover {
  color: white;
}

.skill:hover::after {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .section-title {
    font-size: 2.8rem;
  }
}

.header-wrapper {
  box-shadow: 0.5px 0.5px 3px #bebaba;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem;
}

.header .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.header .logo .bars {
  cursor: pointer;
}

.header .navbar-wrapper .nav-links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.header .navbar-wrapper .show {
  height: 14rem;
}

.header .navbar-wrapper ul {
  text-align: center;
}

.header .navbar-wrapper ul a {
  display: inline-block;
  padding: 0.8rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 720px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;
  }
  .header .bars {
    display: none;
  }
  .header .navbar-wrapper .nav-links {
    height: auto;
    overflow: visible;
    font-size: 1.3rem;
  }
  .header .navbar-wrapper .nav-links li {
    display: inline-block;
  }
}

@media screen and (min-width: 1000px) {
  .header {
    max-width: 800px;
  }
}

main .hero-section {
  min-height: 80vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

main .hero-section__intro {
  font-size: 1.2rem;
}

main .hero-section__intro .title {
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 1rem;
}

main .hero-section__intro .subtitile {
  font-weight: 600;
}

main .hero-section__buttons .btn:first-child {
  margin-right: 1rem;
}

main .about-section-wrapper {
  padding-top: 6rem;
  padding-bottom: 14rem;
  background-color: #7c3aed;
  color: white;
  z-index: -1;
}

main .about-section {
  text-align: center;
}

main .skill-section-wrapper {
  width: 80vw;
  max-width: 800px;
  margin: -12rem auto 0 auto;
  border-radius: 10px;
  box-shadow: 0 5px 5px #cca4ff;
  background-color: white;
}

main .skill-section {
  padding-top: 4rem;
  text-align: center;
}

main .skill-section .section-title {
  line-height: 1.5;
}

main .skill-section__content {
  padding: 0 2rem 2rem 2rem;
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 720px) {
  main .hero-section-wrapper,
  main .about-section {
    max-width: 700px;
    margin: 0 auto;
  }
  main .hero-section__intro {
    font-size: 1.5rem;
  }
  main .hero-section__intro .title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  main .about-section {
    font-size: 1.4rem;
  }
  main .skill-section__content {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media screen and (min-width: 1000px) {
  .main .hero-section-wrapper,
  .main .about-section {
    max-width: 800px;
  }
}
/*# sourceMappingURL=index.css.map */