// import partials
@import "reset";
@import "base";

//  header section

.header-wrapper {
  box-shadow: 0.5px 0.5px 3px rgb(190, 186, 186);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem;

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 70px;
      width: 70px;
      border-radius: 50%;
    }

    .bars {
      cursor: pointer;
    }
  }

  .navbar-wrapper {
    .nav-links {
      height: 0;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
    }

    .show {
      height: 14rem;
    }

    ul {
      text-align: center;

      a {
        display: inline-block;
        padding: 0.8rem;
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;

    .bars {
      display: none;
    }

    .navbar-wrapper {
      .nav-links {
        height: auto;
        overflow: visible;
        font-size: 1.3rem;

        li {
          display: inline-block;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .header {
    max-width: 800px;
  }
}

// main
main {
  // hero section
  .hero-section {
    min-height: 80vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__intro {
      font-size: 1.2rem;

      .title {
        font-weight: 700;
        font-size: 2rem;
        padding-bottom: 1rem;
      }

      .subtitile {
        font-weight: 600;
      }
    }

    &__buttons {
      .btn:first-child {
        margin-right: 1rem;
      }
    }
  }

  // about section
  .about-section-wrapper {
    padding-top: 6rem;
    padding-bottom: 14rem;
    background-color: $primary-color;
    color: white;
    z-index: -1;
  }

  .about-section {
    text-align: center;
  }

  // skill section
  .skill-section-wrapper {
    width: 80vw;
    max-width: 800px;
    margin: -12rem auto 0 auto;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(204, 164, 255);
    background-color: white;
  }

  .skill-section {
    padding-top: 4rem;
    text-align: center;

    .section-title {
      line-height: 1.5;
    }

    &__content {
      padding: 0 2rem 2rem 2rem;
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}

// styles above 720px

@media screen and (min-width: 720px) {
  main {
    // hero section
    .hero-section-wrapper,
    .about-section {
      max-width: 700px;
      margin: 0 auto;
    }

    .hero-section {
      &__intro {
        font-size: 1.5rem;

        .title {
          font-size: 4rem;
          margin-bottom: 2rem;
        }
      }
    }

    // about section
    .about-section {
      font-size: 1.4rem;
    }

    // skill section
    .skill-section {
      &__content {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
      }
    }
  }
}

// styles above 1000px

@media screen and (min-width: 1000px) {
  .main {
    .hero-section-wrapper,
    .about-section {
      max-width: 800px;
    }
  }
}
